@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #e3e0cf ;
}
 
.sticky{
  background-color: burlywood;
  text-align: center;
  font-family:'Noto Sans JP', sans-serif;
  color:firebrick;
  padding: 0.5px;
  position: sticky;
  top: 0; 
}

